.page-title {
margin-top: 95px;
font-size: 36px;
color: hotpink;
font-weight: 600;
text-align: center;
background-color: transparent;
font-family: "Poppins", sans-serif;
}

table, tr, th, td {
border: 4px solid hotpink;
border-collapse: collapse;
background-color: lightyellow;
}

table {
width: 95%;
margin: 20px auto;
border-collapse: collapse;
}

th, td 
{
padding: 20px 40px;
text-align: center; 
}

iframe {
width: 100%;
max-width: 400px;
height: 200px;border: 0;
border-radius: 10px;
}

.footer {
  text-align: center;
  padding: 12px;
  background: navajowhite;
  color: black;
  font-size: 10px;
}
