* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	background-image: url(../Image/Lemon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Poppins, sans-serif;
}

.contact {
	min-height: 100vh;
	background-color:transparent;
	padding: 50px;
	padding-top: 90px;
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 0 auto ;
}

.container h2 {
	font-size: 36px;
	margin-bottom: 40px;
	color: hotpink;
}

.contact-wrapper {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.contact-form {
	text-align: left;
}

.contact-form h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: hotpink;
}

.form-group {
	margin-bottom: 20px;
}

input, textarea {
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	border: none;
	background-color: darkgreen;
	color: lightpink;
}

input:focus
textarea:focus {
	outline: none;
	box-shadow: 0 0 8px #bbb;
}

button {
	display: inline-block;
	padding: 12px 24px;
	background-color: lightyellow;
	color: lightslategrey;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
}

button:hover {
	background-color: lightpink;
}

.contact-info {
	text-align: left;
}

.contact-info h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: hotpink;
}

.contact-info p {
	margin-bottom: 10px;
	color: black;
}

.contact-info i {
	color: darkslategrey;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 20px;
	}
	.contact-wrapper {
	grid-template-columns: 1fr;
	
    }
}

.footer {
  text-align: center;
  padding: 12px;
  background: navajowhite;
  color: black;
  font-size: 10px;
}
