@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--main-color: hotpink;
	background-color: whitesmoke;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}


a {
	color: white;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-image: url("../Image/Lemon.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Poppins, sans-serif;
}

nav {
	width: 100%; 
	display: flex;
	height: 80px;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	background-color: navajowhite;
	z-index: 99;
	padding: 0 50px;
}

.nav_content {
	max-width: var(--max-width);
	margin: auto;
	position: relative;
	padding: 24px 16px;
	display: flex;
	align-items: center;
	z-index: 100;
	height: 100px;
	justify-content: center;
}

ul {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	transition: left 0.3s;
	z-index: 90;
}

ul li a {
	padding: 8px 16px;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color: hotpink;
	transition: 0.3s;
}

.section {
	width: 100%;
	min-height: 100vh;
	padding-top: 120px;
	text-align: center;
}

.section_container {
	min-height: 100vh;
	max-width: 1200px;
	margin: auto;
	padding: 60px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}

.content {
	display: flex;
	flex: 1;
	max-width: 600px;
	margin-top: 40px;
	flex-direction: column;
	justify-content: center;
}

.subtitle {
	letter-spacing: 2px;
	color: black;
	font-weight: 600;
	margin-bottom: 10px;
}

.title {
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	color: mintcream;
	margin-bottom: 16px;
}

.title span {
	font-weight: 600;
}

.description {
	line-height: 24px;
	color: black;
	margin-bottom: 32px;
}

.image {
	display: flex;
	flex: 1;
	place-items: center;
	justify-content: center;
}

.image img {
	width: 300px;
	border-radius: 50px;
	height: auto;
}

@media screen and (width < 750px) {
	ul {
 		position: absolute;
		width: 100%;
		height: calc(100vh - 85px);
		left: -100%;
		top: 85px;
		background-color: floralwhite;
		flex-direction: column;
		justify-content: center;
		gap: 48px;
		display: flex;
	}
}

nav #check:checked ~ ul {
	left: 0;
}

ul li a {
	font-size:20px ;
}

.section__container {
	padding: 160px 16px 80px 16px;
	text-align: center;
	grid-template-columns: repeat(1, 1fr);
}

.image {
	grid-area: 1/1/2/2;
}

.action__btns {
	margin: auto;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif; 
}

.About-Me {
	padding: 80px 0px;
	padding-top: 140px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.flex {
	flex: 0 0 50%;
	max-width: 40%;
	padding: 0 20px;
}

.About-Me h2 {
	font-size: 45px;
	color: Hotpink;
	margin-bottom: 20px;
}

.About-Me h3 {
	font-size: 22px;
	color: darkgreen;
	margin-bottom: 8px;
}

.About-Me p {
	font-size: 18px;
	color: black;
	line-height: 1.5;
	margin-bottom: 20px;
}

.About-Me img {
	height: auto;
	margin: 0 auto;
	display: block;
	max-width: 100%;
	border-radius: 50px;
}

.social-links {
	margin-bottom: 20px;
}

.social-links a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	color: darkslategrey;
	background-color: lightpink;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease;
}

.btn {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	color: darkslategrey;
	display: inline-block;
	text-decoration: none;
	transition: all 0.4s ease;
	text-transform: uppercase;
	background-color: lightpink;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
	transform: translate(-4px);
}

@media screen and(max-width: 768px) {
	.row {
		flex-direction: column;
	}
	.flex {
		max-width: 100%;
	}
	.About-Me h2 {
		font-size: 31px;
	}
	.About-Me P {
		font-size: 16px;
	}
	.social-links a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		margin-right: 5px;
	}
	.btn {
		font-size: 16px;
		padding: 8px 16px;
		margin-bottom: 30px;
	}
}

.footer {
  text-align: center;
  padding: 12px;
  background: navajowhite;
  color: black;
  font-size: 10px;
}
