body {
font-family: "Poppins", sans-serif;
background-color: transparent;
}

.page-title {
font-size: 36px;
margin-top: 90px;
text-align: center;
font-weight: 600;
color: hotpink;
}

.title {
color: hotpink;
margin-top: 90px;
text-align: center;
font-size: 36px;font-weight: 600;
}

.gallery {
padding: 40px 20px;
text-align: center;
font-family: sans-serif;
}

.gallery h2 {
margin-bottom: 30px;
font-size: 48px;
}

.gallery-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
}

.gallery-grid img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 15px;
transition: transform 0.4s, box-shadow 0.4s;
}

.gallery-grid img:hover {
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.footer {
  text-align: center;
  padding: 12px;
  background: navajowhite;
  color: black;
  font-size: 10px;
}