* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif; 
}

.About-Me {
	padding: 80px 0px;
	padding-top: 140px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.flex {
	flex: 0 0 50%;
	max-width: 40%;
	padding: 0 20px;
}

.About-Me h2 {
	font-size: 45px;
	color: Hotpink;
	margin-bottom: 20px;
}

.About-Me h3 {
	font-size: 22px;
	color: darkgreen;
	margin-bottom: 8px;
}

.About-Me p {
	font-size: 18px;
	color: black;
	line-height: 1.5;
	margin-bottom: 20px;
}

.About-Me img {
	height: auto;
	margin: 0 auto;
	display: block;
	max-width: 100%;
	border-radius: 50px;
}

.social-links {
	margin-bottom: 20px;
}

.social-links a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	color: darkslategrey;
	background-color: lightpink;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease;
}

.btn {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	color: darkslategrey;
	display: inline-block;
	text-decoration: none;
	transition: all 0.4s ease;
	text-transform: uppercase;
	background-color: lightpink;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
	transform: translate(-4px);
}

@media screen and(max-width: 768px) {
	.row {
		flex-direction: column;
	}
	.flex {
		max-width: 100%;
	}
	.About-Me h2 {
		font-size: 31px;
	}
	.About-Me P {
		font-size: 16px;
	}
	.social-links a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		margin-right: 5px;
	}
	.btn {
		font-size: 16px;
		padding: 8px 16px;
		margin-bottom: 30px;
	}
}

.footer {
  text-align: center;
  padding: 12px;
  background: navajowhite;
  color: black;
  font-size: 10px;
}